
<div class="row">
        <div class="col-xl-6 col-lg-5 ">
            <div class="register-user-area">
                <br>
                <div class="payment-item">
                    <label class="register-label" for="price">Username</label>
                    <input class="register-info" type="text" id="itembarcode" name="itembarcode">
                </div>
                <div class="payment-item">
                    <label class="register-label" for="price">Password</label>
                    <input class="register-info" type="text" id="itemname" name="itemname">
                </div>
                <div class="payment-item">
                    <label class="register-label" for="price">Fullname</label>
                    <input class="register-info" type="text" id="itemprice" name="itemprice">
                </div>
                <div class="payment-item">
                    <label class="register-label" for="price">Account Type</label>
                    <input class="register-info" type="text" id="itemtype" name="itemtype">
                </div>
                <br>
                <div>
                        <button class="addbtn btn-glow" id="registerBtn" name="registerBtn">REGISTER</button>
                </div>
            </div>
        </div>
    </div>      
    