<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-6 col-lg-4">
                <div class="input-area">
                    <fieldset>  
                        <legend class="info black-txt">NETWORK DEVICE INFORMATION</legend>
                        <div class="report-entry">
                                <label class="register-label" for="price">STORE NAME: </label>
                                <input class="register-info" type="text" id="storename" name="storename">
                        </div>
                        <div class="report-entry">
                                <label class="register-label" for="price">ADDRESS: </label>
                                <input class="register-info" type="text" id="address" name="address">
                        </div>
                        <div class="report-entry">
                                <label class="register-label" for="price">AREA: </label>
                                <input class="register-info" type="text" id="area" name="area">
                        </div>
                        <div class="report-entry">
                                <label class="register-label" for="price">DEVICE #: </label>
                                <input class="register-info" type="text" id="devicenum" name="devicenum">
                        </div>
                        <div class="report-entry">
                                <label class="register-label" for="price">PORT TYPE: </label>
                                <input class="register-info" type="text" id="porttype" name="porttype">
                        </div>
                        <div class="report-entry">
                                <label class="register-label" for="price">DEVICE ADAPTOR: </label>
                                <input class="register-info" type="text" id="deviceadaptor" name="deviceadaptor">
                        </div>
                        <div class="report-entry">
                                <label class="register-label" for="price">CABLE TYPE: </label>
                                <input class="register-info" type="text" id="cabletype" name="cabletype">
                        </div>
                        <div class="report-entry">
                                <label class="register-label" for="price">MODEM: </label>
                                <input class="register-info" type="text" id="modem" name="modem">
                        </div>
                        <div class="report-entry">
                                <label class="register-label" for="price">MODEM SERIAL: </label>
                                <input class="register-info" type="text" id="modemserial" name="modemserial">
                        </div>
                        <div class="report-entry">
                                <label class="register-label" for="price">SIMCARD: </label>
                                <input class="register-info" type="text" id="SIMcard" name="SIMcard">
                        </div>
                        <div class="report-entry">
                                <label class="register-label" for="price">MODEM ADAPTOR: </label>
                                <input class="register-info" type="text" id="modemadaptor" name="modemadaptor">
                        </div>
                        <div class="report-entry">
                                <label class="register-label" for="price">PATCH CABLE: </label>
                                <input class="register-info" type="text" id="patchcable" name="patchcable">
                        </div>
                        <br>
                        <div>
                            <button class="btn-right btn-glow" id="registerBtn" name="registerBtn">REGISTER</button>
                        </div>            
                    </fieldset>
                </div>
            </div>

            <div id="updateArea" class="col-xl-6 col-lg-4">
                <div class="input-area">
                    <fieldset>  
                        <legend class="info black-txt">NETWORK DEVICE INFORMATION  <h4 id="storefile"></h4> </legend>
                        <h1 id="storefile"></h1>
                        <div class="report-entry">
                                <label class="register-label" for="price">DATE DEPLOY: </label>
                                <input class="register-info" type="text" id="datedeployUpdate" name="datedeployUpdate">
                        </div>
                        <div class="report-entry">
                                <label class="register-label" for="price">PERSONEL: </label>
                                <input class="register-info" type="text" id="personelUpdate" name="personelUpdate">
                        </div>
                        <div class="report-entry">
                                <label class="register-label" for="price">STATUS: </label>
                                <input class="register-info" type="text" id="statusUpdate" name="statusUpdate">
                        </div>
                        <br>
                        <div>
                            <button class="btn-right btn-glow" id="updateBtn" name="updateBtn">UPDATE</button>
                        </div>            
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="custom-hr">

<div class="row">
    <table id='equipmentInfo' style="font-size: 9.5px; color: white;">
        <thead>
            <th>STORE</th>
            <th>ADDRESS</th>
            <th>AREA</th>
            <th>DEVICE #</th>
            <th>PRINTER PORT TYPE</th>
            <th>DEVICE ADAPTOR</th>
            <th>CABLE TYPE</th>
            <th>MODEM</th>
            <th>MODEM SERIAL</th>
            <th>SIMCARD</th>
            <th>MODEM ADAPTOR</th>
            <th>PATCH CABLE</th>
            <th>DATE DEPLOYED</th>
            <th>PERSONEL</th>
            <th>STATUS</th>
        </thead>
        <tbody style="font-size: 8.5px; color: black"></tbody>
    </table>

</div>