<!-- TOOL BUTTON -->
<div class="row">
    <div class="tool-area">
        <button class="report-btn-tool btn-glow up-btn"><i class="fa fa-file-excel"></i> UPLOAD</button>
        <button class="report-btn-tool btn-glow down-btn"><i class="fa fa-file-excel"></i> GENERATE</button>
    </div>
</div>
<!-- ENTRY UPDATE -->
<div class="row">
    <div class="col-xl-6 col-lg-5 ">
            <div class="report-area">
                <div class="entry-area">
                    <div class="report-entry">
                            <label class="register-label" for="price">STORE / ESTABLISMENT: </label>
                            <input class="register-info" type="text" id="storename" name="storename">
                    </div>
                    <div class="report-entry">
                            <label class="register-label" for="price">ASSIGNED TO: </label>
                            <input class="register-info" type="text" id="itembarcode" name="itembarcode">
                    </div>
                    <div class="report-entry">
                            <label class="register-label" for="price">DATE PERFORMED: </label>
                            <input class="register-info" type="text" id="itembarcode" name="itembarcode">
                    </div>
                    <div class="report-entry">
                            <label class="register-label" for="price">AREA / ZONEZ: </label>
                            <input class="register-info" type="text" id="itembarcode" name="itembarcode">
                    </div> 
                    <div class="report-entry">
                        <label class="register-label" for="price">QUATER: </label>
                        <input class="register-info" type="text" id="itembarcode" name="itembarcode">
                    </div>                       
                </div>
                <br>
                <div>
                    <button class="update-btn btn-glow" id="updateBtn" name="updateBtn">UPDATE</button>
                </div>
        </div>
    </div>
</div>

<hr class="custom-hr">
<!-- STORE LIST TABLE -->
<div class="row">
    <table id="reportTbl">
        <thead>
            <th class="th-files">STORE</th>
            <th class="th-files">FIRST</th>
            <th class="th-files">SECOND</th>
            <th class="th-files">THIRD</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<hr class="custom-hr">
<!-- POS INFO -->
<div class="row">
    <table id="installedPOS">
        <thead>
            <th class="th-files">POS TERMINAL</th>
            <th class="th-files">CUSTOMER DISPLAY</th>
            <th class="th-files">CASHDRAWER</th>
            <th class="th-files">SCANNER</th>
            <th class="th-files">PRINTER</th>
            <th class="th-files">UPS</th>
        </thead>
        <tbody>
                <tr>
                    <td>KSD40288</td>
                    <td>LME2E087</td>
                    <td>CRDBV8628</td>
                    <td>PPI41190</td>
                    <td>FADE</td>
                    <td>1TY7P3000001</td>
                </tr>
                <tr>
                    <td>KSD40291</td>
                    <td>LME2E094</td>
                    <td>CRJ8V1630</td>
                    <td>PPGB0366</td>
                    <td>FADE</td>
                    <td>FADE</td>
                </tr>
        </tbody>
    </table>
</div>
<!-- DESKTOP INFO -->
<div class="row">
    <table id="installedDesktop">
        <thead>
            <th class="th-files">DESKTOP</th>
            <th class="th-files">PRINTER</th>
            <th class="th-files">UPS</th>
        </thead>
        <tbody>
                <tr>
                    <td>75TMLN2</td>
                    <td>MQCA651295</td>
                    <td>320445AX30000089</td>
                </tr>
        </tbody>

    </table>
</div>
<!-- CLIQQ INFO -->
<div class="row">
    <table id="installedCliqq">
        <thead>
            <th class="th-files">CLIQQ</th>
            <th class="th-files">UPS</th>
        </thead>
        <tbody>
                <tr>
                    <td>75TMLN2</td>
                    <td>MQCA651295</td>
                </tr>
        </tbody>

    </table>
</div>
<!-- CONNECTION INFO -->
<div class="row">
      
    <table id="installedConnection">
        <thead>
            <th class="th-files">MIKROTIK</th>
            <th class="th-files">RUIJIE</th>
            <th class="th-files">AP</th>
            <th class="th-files">SMART</th>
            <th class="th-files">GLOBE</th>
            <th class="th-files">DCTECH</th>
        </thead>
        <tbody>
                <tr>
                    <td>75TMLN2</td>
                    <td>MQCA651295</td>
                    <td>75TMLN2</td>
                    <td>MQCA651295</td>
                    <td>75TMLN2</td>
                    <td>75TMLN2</td>
                </tr>
        </tbody>

    </table>
      
</div>
<!-- ZEBRA HT INFO -->
<div class="row">
    <table id="installedZebra">
        <thead>
            <th class="th-files">ZEBRA HT</th>
            <th class="th-files">ZEBRA CRADLE</th>
        </thead>
        <tbody>
                <tr>
                    <td>75TMLN2</td>
                    <td>MQCA651295</td>
                </tr>
        </tbody>
    </table>
</div>
