<!-- TOOL BUTTON -->
<div class="row">
    <div class="tool-area">
        <button class="report-btn-tool btn-glow up-btn"><i class="fa fa-file-excel"></i> UPLOAD</button>
        <button class="report-btn-tool btn-glow down-btn"><i class="fa fa-file-excel"></i> GENERATE</button>
    </div>
</div>
<!-- ENTRY UPDATE -->
<div class="row">
    <div class="col-xl-6 col-lg-5 ">
            <div class="report-area">
                <div class="entry-area">
                    <div class="report-entry">
                            <label class="register-label" for="price">STORE / ESTABLISMENT: </label>
                            <input class="register-info" type="text" id="storename" name="storename">
                    </div>
                    <div class="report-entry">
                            <label class="register-label" for="price">ASSIGNED TO: </label>
                            <input class="register-info" type="text" id="itembarcode" name="itembarcode">
                    </div>
                    <div class="report-entry">
                            <label class="register-label" for="price">DATE PERFORMED: </label>
                            <input class="register-info" type="text" id="itembarcode" name="itembarcode">
                    </div>
                    <div class="report-entry">
                            <label class="register-label" for="price">AREA / ZONEZ: </label>
                            <input class="register-info" type="text" id="itembarcode" name="itembarcode">
                    </div> 
                    <div class="report-entry">
                        <label class="register-label" for="price">QUATER: </label>
                        <input class="register-info" type="text" id="itembarcode" name="itembarcode">
                    </div>                       
                </div>
                <br>
                <div>
                    <button class="update-btn btn-glow" id="updateBtn" name="updateBtn">UPDATE</button>
                </div>
        </div>
    </div>
</div>

<hr class="custom-hr">
<!-- STORE LIST TABLE -->
<div class="row">
    <table id="reportTbl">
        <thead>
            <th class="th-files">STORE</th>
            <th class="th-files">FIRST</th>
            <th class="th-files">SECOND</th>
            <th class="th-files">THIRD</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<hr class="custom-hr">
<!-- POS INFO -->
<div class="row">
    <table id="storeEquipmentInfoTbl">
        <thead>
            <th class="th-files">POS TERMINAL</th>
            <th class="th-files">CUSTOMER DISPLAY</th>
            <th class="th-files">CASHDRAWER</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>