<script>
 $(document).ready(function() {

    $(document).on('click', "#registerBtn", function () {
        var storecode = $('#storecode').val();
        var storename = $('#storename').val();
        var storeaddress = $('#storeaddress').val();
        var storeemail = $('#storeemail').val();
        var storearea = $('#storearea').val();

        console.log(storecode +" "+ storename +" "+ storeaddress +" "+ storeemail +" "+ storearea);
        $.ajax({
            type: "POST",
            url: "http://localhost:3000/establishment/save",
            data: {
                storecode: storecode,
                storename: storename,
                storeaddress: storeaddress,
                storeemail: storeemail,
                storearea: storearea
            },
            success: function (result) {
                alert("Data Saved!");
            },
            error: function (result) {
                alert('error: '+ result.data);
            }
        });
    });


    var dataTable = $('#reportTbl').DataTable({
            'destroy': true,
            'processing' : true,
            'serverSide' : true,
            'paging' : false,
            'searching': false,
            'info': false,
            'scrollY': 200,
            'scrollCollapse': true,
            'serverMethod' : 'get',
            'ajax' : {
                'url' : '/reports/loadFile',
            },
            'columns' : [
                { data : 'StoreName'},
                { data : 'First' },
                { data : 'Second' },
                { data : 'Third' }
                // { data : null, title:'Action', wrap: false, "render": function(){
                //         return '<button class="btn-glow" id="updateBtn" name="updateBtn">UPDATE</button>'
                //         }}
            ] 
    });


    $('#reportTbl tbody').on( 'click', 'tr', function () {
        var data = dataTable.row( this ).data();
        console.log(data);

        var storename = data.StoreName

        var elem = document.getElementById("storename");
        $('#storename').val(storename);

        console.log(storename);
    });
});

</script>