<script>
let storename="";
 $(document).ready(function() {
     

    $(document).on('click', "#updateBtn", function () {
        var store = $('#storename').val();
        var assignto = $('#assignto').val();
        var dateperform = $('#dateperform').val();
        var quarter = $('#quarter').val();
        var filename = store + "_report.xml";

        console.log(store +" "+ assignto +" "+ dateperform +" "+ quarter +" "+ filename);
        $.ajax({
            type: "POST",
            url: "/reports/save",
            data: {
                filename: filename,
                storename: store,
                assignto: assignto,
                dateperform: dateperform,
                quarter: quarter
            },
            success: function (result) {
                alert("Data Saved!");
            },
            error: function (result) {
                alert('error: '+ result.data);
            }
        });
    });


    var dataTable = $('#reportTbl').DataTable({
            'destroy': true,
            'processing' : true,
            'serverSide' : true,
            'paging' : false,
            'searching': false,
            'info': false,
            'scrollY': 200,
            'scrollCollapse': true,
            'serverMethod' : 'get',
            'ajax' : {
                'url' : '/reports/loadFile',
            },
            'columns' : [
                { data : 'StoreName'},
                { data : 'First' },
                { data : 'Second' },
                { data : 'Third' }
                // { data : null, title:'Action', wrap: false, "render": function(){
                //         return '<button class="btn-glow" id="updateBtn" name="updateBtn">UPDATE</button>'
                //         }}
            ] 
    });


    $('#reportTbl tbody').on( 'click', 'tr', function () {
        var data = dataTable.row( this ).data();
        console.log(data);

        storename = data.StoreName

        var elem = document.getElementById("storename");
        $('#storename').val(storename);

        retriedData();

        console.log(storename);
    });

    function retriedData(){
        var filename = $("#storename").val();
        console.log(filename);
            // $('#equipmentTbl').DataTable().ajax.reload();

            var table = $('#equipmentInfo').DataTable({
                'destroy': true,
                    'processing' : true,
                    'serverSide' : true,
                    'paging' : false,
                    'searching': false,
                    'info': false,
                    'scrollY': 380,
                    'scrollCollapse': false,
                    'serverMethod' : 'post',
                    'ajax' : {
                        'url' : '/reports/retrieveFile',
                        'data': {
                            filename: filename
                        }
                    },
                    'columns' : [
                        { data : 'itemallocation'},
                        { data : 'itemname' },
                        { data : 'itemserial' }
                        // { data : null, title:'Action', wrap: false, "render": function(){
                        //         return '<button class="btn-glow" id="updateBtn" name="updateBtn">UPDATE</button>'
                        //         }}
                    ] 
            });
        }

});

</script>