<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-6 col-lg-4">
                <div class="input-area">
                    <fieldset>
                        <legend class="info black-txt">M2CASH STORE</legend>
                        <div class="report-entry">
                            <label class="register-label" for="price">STORE NAME: </label>
                            <input class="register-info" type="text" id="storename" name="storename">
                        </div>
                        <div class="report-entry">
                            <label class="register-label" for="price">ADDRESS: </label>
                            <input class="register-info" type="text" id="address" name="address">
                        </div>
                        <div class="report-entry">
                                <label class="register-label" for="price">GOOGLE ADDRESS: </label>
                                <input class="register-info" type="text" id="googleaddress" name="googleaddress">
                            </div>
                        <div class="report-entry">
                            <label class="register-label" for="price">AREA: </label>
                            <input class="register-info" type="text" id="area" name="area">
                        </div>
                        <br>
                        <div>
                            <button class="btn-right btn-glow" id="registerBtn" name="registerBtn">REGISTER</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="custom-hr">

<div class="row">
    <div class="col-xl-6 col-lg-4">
        <table id='equipmentInfo' style="font-size: 9.5px; color: white;">
            <thead>
                <th>STORE</th>
                <th>ADDRESS</th>
                <th>AREA</th>
            </thead>
            <tbody style="font-size: 8.5px; color: black"></tbody>
        </table>
    </div>
</div>