<script>
    $(document).ready(function() {
        let selectedStore = "";
        let dataArr = [];

        $(document).on('click', "#registerBtn", function () {
            var storecode = $('#storecode').val();
            var storename = $('#storename').val();
            var storeaddress = $('#storeaddress').val();
            var storeemail = $('#storeemail').val();
            var storearea = $('#storearea').val();

            console.log(storecode +" "+ storename +" "+ storeaddress +" "+ storeemail +" "+ storearea);
            $.ajax({
                type: "POST",
                url: "/establishment/save",
                data: {
                    storecode: storecode,
                    storename: storename,
                    storeaddress: storeaddress,
                    storeemail: storeemail,
                    storearea: storearea
                },
                success: function (result) {
                    success("Saved","Data Saved!");
                },
                error: function (result) {
                    error('error: '+ result.data);
                }
            });
        });
    
        $(document).on('click', "#saveEquipmentBtn", function () {
            var data = JSON.stringify(dataArr);

            console.log(data);
            $.ajax({
                type: "POST",
                url: "/establishment/saveEquipmentInfo",
                data: {
                    storename : selectedStore,
                    data: data
                },
                success: function (result) {
                    success("Saved","Data Saved!");
                },
                error: function (result) {
                    error('error: '+ result.data);
                }
            });
        });

        var dataTable = $('#storeInfoTbl').DataTable({
                    'destroy': true,
                    'processing' : true,
                    'serverSide' : true,
                    'paging' : false,
                    'searching': false,
                    'info': false,
                    'scrollY': 200,
                    'scrollCollapse': true,
                    'serverMethod' : 'get',
                    'ajax' : {
                        'url' : '/establishment/loadFile',
                    },
                    'columns' : [
                        { data : 'StoreCode'},
                        { data : 'StoreName' },
                        { data : 'StoreAddress' },
                        { data : 'StoreEmail' },
                        { data : 'StoreArea' }
                        // { data : null, title:'Action', wrap: false, "render": function(){
                        //         return '<button class="btn-glow" id="updateBtn" name="updateBtn">UPDATE</button>'
                        //         }}
                    ] 
            });
        
        
        $(document).on('click', "#addEquipmentBtn", function () {
            var storeallocation = $('#itemallocation').val();
            var itemname = $('#itemname').val();
            var itemserial = $('#itemserial').val();

            dataArr.push({
                'itemallocation':storeallocation,
                'itemname': itemname,
                'itemserial': itemserial
            });

            var table = document.getElementById("equipmentInfo");
            var row = table.insertRow(1);
            var ItemAllocation = row.insertCell(0);
            var ItemName = row.insertCell(1);
            var ItemSerial = row.insertCell(2);

            ItemAllocation.innerHTML = storeallocation;
            ItemName.innerHTML = itemname;
            ItemSerial.innerHTML = itemserial;
        });

        $('#storeInfoTbl tbody').on( 'click', 'tr', function () {
        var data = dataTable.row( this ).data();
        console.log(data);

        var storecode = data.StoreCode;
        var storename = data.StoreName;

        selectedStore = storecode +"_"+ storename;

        document.getElementById('storeSelected').textContent = selectedStore;
        console.log(selectedStore);
        });
    });

  
</script>
