<div class="row">
    <div class="col-xl-6 col-lg-5 ">
        <div class="input-area">
            <fieldset>
                <legend class="info black-txt">Accounts Info</legend>
                <div class="report-entry">
                    <label class="register-label" for="price">Username</label>
                    <input class="register-address" type="text" id="itembarcode" name="itembarcode">
                </div>
                <div class="report-entry">
                    <label class="register-label" for="price">Password</label>
                    <input class="register-address" type="text" id="itemname" name="itemname">
                </div>
                <div class="report-entry">
                    <label class="register-label" for="price">Fullname</label>
                    <input class="register-address" type="text" id="itemprice" name="itemprice">
                </div>
                <div class="report-entry">
                    <label class="register-label" for="price">Account Type</label>
                    <input class="register-address" type="text" id="itemtype" name="itemtype">
                </div>
                <br>
                <div>
                    <button class="btn-right btn-glow" id="registerBtn" name="registerBtn">REGISTER</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>