<script>
    $(document).ready(function () {
        let dataArr = [];

        var dataTable = $('#equipmentTbl').DataTable({
            'destroy': true,
            'processing': true,
            'serverSide': true,
            'paging': false,
            'searching': false,
            'info': false,
            'scrollY': 200,
            'scrollCollapse': true,
            'serverMethod': 'GET',
            'ajax': {
                'url': '/accounts/LoadData',
            },
            'columns': [
                { data: 'Username' },
                { data: 'Password' },
                { data: 'Fullname' },
                { data: 'AccountType' }
                // { data : null, title:'Action', wrap: false, "render": function(){
                //         return '<button class="btn-glow" id="updateBtn" name="updateBtn">UPDATE</button>'
                //         }}
            ]
        });

        $(document).on('click', "#registerBtn", function () {
            var username = $('#itembarcode').val();
            var password = $('#itemname').val();
            var fullname = $('#itemprice').val();
            var accounttype = $('#itemtype').val();

            dataArr.push({
                username: username,
                password: password,
                fullname: fullname,
                accounttype: accounttype,
            });

            var data = JSON.stringify(dataArr);

            console.log(username + " " + password + " " + fullname + " " + accounttype);
            $.ajax({
                type: "POST",
                url: "/accounts/save",
                data: {
                    fullname: fullname,
                    data: data,
                },
                success: function (result) {
                    success("Saved", "Data Saved!");
                },
                error: function (result) {
                    error('error: ' + result.data);
                }
            });
        });
    });
</script>