
<div class="row">
        <div class="col-xl-6 col-lg-5 ">
            <div class="register-user-area">
                <div class="report-entry">
                    <label class="register-label" for="price">Serial No.</label>
                    <input class="register-info" type="text" id="itembarcode" name="itembarcode">
                </div>
                <div class="report-entry">
                    <label class="register-label" for="price">Item Name</label>
                    <input class="register-info" type="text" id="itemname" name="itemname">
                </div>
                <div class="report-entry">
                    <label class="register-label" for="price">Date Received</label>
                    <input class="register-info" type="text" id="itemprice" name="itemprice">
                </div>
                <div class="report-entry">
                    <label class="register-label" for="price">Item Type</label>
                    <input class="register-info" type="text" id="itemtype" name="itemtype">
                </div>
                <br>
                <div>
                    <button class="addbtn btn-glow" id="registerBtn" name="registerBtn">REGISTER</button>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-5 ">
            <div class="row">
                <div>
                    <input class="register-info" type="text" id="serialBx" name="serialBx" placeholder="ENTER SERIAL">
                    <button class="search-btn btn-glow" id="serachBtn" name="serachBtn"><i class="fa fa-search"></i> SEARCH</button>
                </div>
                <br>
                <div>
                    <table id="equipmentTblList">
                        <thead>
                            <th class="th-files">FILES</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
<br>
<hr class="custom-hr">
<div class="row">
    <div>
        <table id="equipmentTbl">
            <thead>
                <th>SERIAL</th>
                <th>ITEM NAME</th>
                <th>DATE RECEIVED</th>
                <th>ITEMTYPE</th>
                <th>DEPLOYED TO</th>
                <th>DATE DEPLOY</th>
                <th>TICKET</th>
                <th>PERSONEL</th>
                <th>ACTION</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div id='updateArea'>
            <div class="register-user-area">
                <div class="report-entry">
                    <label class="register-label" for="price">DEPLOY TO</label>
                    <input class="register-info" type="text" id="deployto" name="deployto">
                </div>
                <div class="report-entry">
                    <label class="register-label" for="price">DATE DEPLOY</label>
                    <input class="register-info" type="text" id="datedeploy" name="datedeploy">
                </div>
                <div class="report-entry">
                    <label class="register-label" for="price">TICKET</label>
                    <input class="register-info" type="text" id="ticket" name="ticket">
                </div>
                <div class="report-entry">
                    <label class="register-label" for="price">PERSONEL</label>
                    <input class="register-info" type="text" id="personel" name="personel">
                </div>
                <br>
                <div>
                    <button class="addbtn btn-glow" id="saveBtn" name="saveBtn">SUBMIT</button>
                </div>
            </div>
    </div>
</div>
    