<script>
    $(document).ready(function () {
        var filename = "";
        var status = 'spare';

        $("#updateArea").toggle(0, function () {
        });
        var dataTable = $('#equipmentTblList').DataTable({
            'destroy': true,
            'processing': true,
            'serverSide': true,
            'paging': false,
            'searching': false,
            'info': false,
            'scrollY': 200,
            'scrollCollapse': true,
            'serverMethod': 'get',
            'ajax': {
                'url': '/equipment/loadFile'
            },
            'columns': [
                { data: 'file' }

            ]
        });

        $('#equipmentTblList tbody').on('click', 'tr', function () {
            var data = dataTable.row(this).data();
            console.log(data.file);

            var serial = data.file;
            filename = serial;
            status = 'spare';
            reloadEquipmentTbl(serial);
        });

        $(document).on('click', "#registerBtn", function () {
            var serial = $('#itembarcode').val();
            var itemname = $('#itemname').val();
            var datereceive = $('#itemprice').val();
            var itemtype = $('#itemtype').val();

            console.log(serial + " " + itemname + " " + datereceive + " " + itemtype);
            $.ajax({
                type: "POST",
                url: "/equipment/save",
                data: {
                    serial: serial,
                    itemname: itemname,
                    datereceive: datereceive,
                    itemtype: itemtype
                },
                success: function (result) {
                    success("Saved","Data Saved!");
                },
                error: function (result) {
                    error('error: ' + result.data);
                }
            });

            reloadDataTable();
        });

        $(document).on('click', "#serachBtn", function () {
            var serial = $('#serialBx').val();

            if (serial == "") {
                reloadDataTable();
            }
            else {
                dataTable = $('#equipmentTblList').DataTable({
                    'destroy': true,
                    'processing': true,
                    'serverSide': true,
                    'paging': false,
                    'searching': false,
                    'info': false,
                    'scrollY': 200,
                    'scrollCollapse': true,
                    'serverMethod': 'POST',
                    'ajax': {
                        'url': '/equipment/searchFile',
                        'data': {
                            serial: serial
                        }
                    },
                    'columns': [
                        { data: 'file' }
                    ]
                });
            }

            console.log(serial);
        });

        function reloadDataTable() {
            dataTable = $('#equipmentTblList').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 200,
                'scrollCollapse': true,
                'serverMethod': 'get',
                'ajax': {
                    'url': '/equipment/loadFile'
                },
                'columns': [
                    { data: 'file' }

                ]
            });
        }

        function reloadEquipmentTbl(file) {
            // $('#equipmentTbl').DataTable().ajax.reload();

            var table = $('#equipmentTbl').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'serverMethod': 'post',
                'ajax': {
                    'url': '/equipment/retrieveFile',
                    'data': {
                        serial: file,
                        status: status
                    }
                },
                'columns': [
                    { data: 'Serial' },
                    { data: 'ItemName' },
                    { data: 'DateReceive' },
                    { data: 'ItemType' },
                    { data: 'DeployTo' },
                    { data: 'DeployDate' },
                    { data: 'Ticket' },
                    { data: 'Personel' },
                    {
                        data: null, title: 'Action', wrap: false, "render": function () {
                            return '<button class="btn-glow" id="updateBtn" name="updateBtn">UPDATE</button>'
                        }
                    }
                ]
            });
        }

        $(document).on('click', "#updateBtn", function () {
            console.log("Selected file: " + filename);
            var elem = document.getElementById("updateBtn");
            console.log(elem);
            if (elem.innerText == "UPDATE") {
                $("#updateArea").toggle(2000, function () {

                });
                elem.innerText = "CLOSED";
            }
            else if (elem.innerText == "CLOSED") {
                $("#updateArea").toggle(2000, function () {

                });
                elem.innerText = "UPDATE";
            }

        });

        $(document).on('click', "#saveBtn", function () {
            var file = filename;
            var deployto = $('#deployto').val();
            var datedeploy = $('#datedeploy').val();
            var ticket = $('#ticket').val();
            var personel = $('#personel').val();

            console.log(file + " " + deployto + " " + datedeploy + " " + ticket + " " + personel);
            $.ajax({
                type: "POST",
                url: "/equipment/updateFile",
                data: {
                    filename: file,
                    deployto: deployto,
                    datedeploy: datedeploy,
                    ticket: ticket,
                    personel: personel
                },
                success: function (result) {
                    table.ajax.reload();
                    alert("Data Saved!");
                },
                error: function (result) {
                    alert('error: ' + result.data);
                }
            });

            $("#updateArea").toggle(200, function () {
                status = 'deploy';
                reloadEquipmentTbl(file);
                reloadDataTable();
            });
        });

    });
</script>