<script>
$(document).ready(function() {
        $("#updateArea").toggle(0, function() {});
        var simStatus = 'NO';''

        var dataTable = $('#networkDeviceTbl').DataTable({
            'destroy': true,
            'processing' : true,
            'serverSide' : true,
            'paging' : false,
            'searching': false,
            'info': false,
            'serverMethod' : 'GET',
            'ajax' : {
                'url' : '/NetworksPullout/LoadData',
            },
            'columns' : [
                { data : 'Ticket'},
                { data : 'Store' },
                { data : 'ItemName' },
                { data : 'ItemSerial' },
                { data : 'PulloutDate' },
                { data : 'PulloutBy' },
                { data : 'Status' }
                // { data : null, title:'Action', wrap: false, "render": function(){
                //         return '<button class="btn-glow" id="updateBtn" name="updateBtn">UPDATE</button>'
                //         }}
            ] 
        });

        $(document).on('click', "#addEquipmentBtn", function () {
        var fromstore = $('#fromstore').val();
        var itemname = $('#itemname').val();
        var itemserial = $('#itemserial').val();
        var datepullout = $('#datepullout').val();
        var pulloutby = $('#pulloutby').val();
        var ticket = $('#ticket').val();
        var simtype = $('#simtype').val();
        var simserial = $('#simserial').val();

        $.ajax({
            type: "POST",
            url: "http://localhost:3000/NetworksPullout/save",
            data: {
                fromstore: fromstore,
                itemname: itemname,
                itemserial: itemserial,
                datepullout: datepullout,
                pulloutby: pulloutby,
                ticket: ticket,
                simtype: simtype,
                simserial: simserial,
                siminside: simStatus
            },
            success: function (result) {
                alert("Data Saved!");
            },
            error: function (result) {
                alert('error: '+ result.data);
            }
        });
    });


    // Get the modal
    var modal = document.getElementById("reportModal");

    // Get the button that opens the modal
    var btn = document.getElementById("generateReportBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";

        //Load active data
        var table = $('#modalNetworkDeviceTbl').DataTable({
                'destroy': true,
                'processing' : true,
                'serverSide' : true,
                'paging' : false,
                'searching': false,
                'info': false,
                'serverMethod' : 'GET',
                'ajax' : {
                    'url' : '/NetworksPullout/LoadData',
                },
                'columns' : [
                    { data : 'Ticket'},
                    { data : 'Store' },
                    { data : 'ItemName' },
                    { data : 'ItemSerial' },
                    { data : 'SIMInside' },
                    { data : 'SIMType' },
                    { data : 'SIMSerial' }
                    // { data : null, title:'Action', wrap: false, "render": function(){
                    //         return '<button class="btn-glow" id="updateBtn" name="updateBtn">UPDATE</button>'
                    //         }}
                ] 
            });
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    $(document).on('click', "#printBtn", function () {
        var printContents = document.getElementById('printArea').innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
        location.reload();
    });

    $(document).on('click', "#simBtn", function () {
        console.log('Before: ' + simStatus)
        if (simStatus=="NO"){
            simStatus = 'YES';
            $("#updateArea").toggle(2000, function() {});
        } 
        else if (simStatus=="YES"){
            simStatus = 'NO';
            $("#updateArea").toggle(2000, function() {});
        } 

        console.log('After: ' + simStatus)
    });
});
</script>