<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">EMS<sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        MASTERS
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseItem"
          aria-expanded="true" aria-controls="collapseItem">
          <i class="fas fa-fw fa-database"></i>
          <span>DATA MASTERS</span>
      </a>
      <div id="collapseItem" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">ITEM DATA:</h6>
              <a class="collapse-item" href="/accounts"><i class="fas fa-fw fa-user"></i><span> ACCOUNTS</span></a>
              <a class="collapse-item" href="/areas"><i class="fas fa-fw fa-map-marked"></i><span> LOCATIONS</span></a>
              <a class="collapse-item" href="/personel"><i class="fas fa-fw fa-person-booth"></i><span> PERSONEL</span></a>
              <a class="collapse-item" href="/storeestablishment"><i class="fas fa-fw fa-building"></i><span> ESTABLISMENT</span></a>
          </div>
      </div>
  </li>
   <!-- Divider -->
   <hr class="sidebar-divider">

   <!-- Heading -->
   <div class="sidebar-heading">
       EQUIPMENT INVENTORY
   </div>
   <!-- Nav Item - Pages Collapse Menu -->
   <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInventory"
          aria-expanded="true" aria-controls="collapseInventory">
          <i class="fas fa-fw fa-boxes"></i>
          <span>INVENTORY</span>
      </a>
      <div id="collapseInventory" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">INVENTORY:</h6>
              <a class="collapse-item" href="/equipment"><i class="fas fa-fw fa-box"></i><span> EQUIPMENTS</span></a>
              <a class="collapse-item" href="/reports"><i class="fas fa-fw fa-file-excel"></i><span> REPORTS</span></a>
          </div>
      </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
     PREVENTIVE MAINTENANCE
  </div>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePromo"
          aria-expanded="true" aria-controls="collapsePromo">
          <i class="fas fa-fw fa-cog"></i>
          <span>MAINTENANCE</span>
      </a>
      <div id="collapsePromo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">OPTIONS:</h6>
              <a class="collapse-item" href="#">PROMO</a>
              <a class="collapse-item" href="#">REPORTS</a>
          </div>
      </div>
  </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <!-- <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div> -->