<div class="row">
    <div class="report-area">
        <div class="report-entry">
                <label class="register-label" for="price">STORE NO: </label>
                <input class="register-info" type="text" id="storecode" name="itembarcode">
        </div>
        <div class="report-entry">
                <label class="register-label" for="price">STORE NAME: </label>
                <input class="register-info" type="text" id="storename" name="itembarcode">
        </div>
        <div class="report-entry">
                <label class="register-label" for="price">STORE ADDRESS: </label>
                <input class="register-info" type="text" id="storeaddress" name="itembarcode">
        </div>
        <div class="report-entry">
                <label class="register-label" for="price">STORE EMAIL: </label>
                <input class="register-info" type="text" id="storeemail" name="itembarcode">
        </div>
        <div class="report-entry">
                <label class="register-label" for="price">STORE AREA: </label>
                <input class="register-info" type="text" id="storearea" name="itembarcode">
        </div>
        <br>
        <div>
            <button class="update-btn btn-glow" id="registerBtn" name="registerBtn">REGISTER</button>
        </div>

    </div>
</div>

<hr class="custom-hr">

<div>
    <table id="storeInfoTbl">
        <thead>
            <th class="th-files">STORE NO</th>
            <th class="th-files">STORE NAME</th>
            <th class="th-files">STORE ADDRESS</th>
            <th class="th-files">STORE EMAIL</th>
            <th class="th-files">STORE AREA</th>
        </thead>
        <tbody>
                <!-- <tr>
                    <td>2330</td>
                    <td>MEDELLIN</td>
                    <td>POBLACION MEDELLIN CEBU</td>
                    <td>st2330@store.philseven.com</td>
                    <td>CEBU</td>
                </tr> -->
        </tbody>

    </table>
</div>